<div class="banner" style="background-image: url('<%= image_url %>');">
  <div class="banner-overlay">
    <h1><%= title %></h1>
    <% if subtitle.present? %>
      <p><%= subtitle %></p>
    <% end %>
  </div>
</div>
